:host {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.header-container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 16px 32px 16px 128px;
  background-color: var(--color-font-bright);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.help-icon {
  width: 32px;
  height: 32px;
  transition: var(--transition-fast);

  &:hover {
    scale: 1.2;
  }
}

.help-and-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.profile {
  width: 56px;
  height: 56px;
  border: solid 3px black;
  border-radius: 50%;
  background-color: white;
  color: var(--color-light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: var(--transition-fast);

  &:hover {
    background-color: rgba(209, 209, 209, 0.5);
    cursor: pointer;
  }
}