<section class="dialog-container">

  <div class="contact-text">

    <img class="dialog-logo" src="/assets/Contacts/contact-dialog/join_logo.png" alt="">
    <h1>Add contact</h1>
    <p>Tasks are better with a team!</p>
    <div class="line"></div>

  </div>


  <div class="account-img">
  </div>

  <div class="add-contact">

    <div class="close"></div>

    <div class="inputs-container">
      <div class="input-name inputs">
        <input type="name" placeholder="Name">
        <img class="icons" src="/assets/Contacts/contact-dialog/person.png" alt="name">
      </div>

      <div class="input-email inputs">
        <input type="email" placeholder="Email">
        <img class="icons" src="/assets/Contacts/contact-dialog/mail.png" alt="email">
      </div>

      <div class="input-phone inputs">
        <input type="tel" placeholder="Phone">
        <img class="icons" src="/assets/Contacts/contact-dialog/call.png" alt="call">
      </div>

    </div>

    <div class="btns-container">
      <button class="btn-outline"><span class="btn-txt">Cancel</span> <span class="btn-icons close-x"> &#x2715;
        </span></button>
      <button class="btn-primary"><span class="btn-txt create-account">Create Contact </span> <span class="btn-icons">
          &#10003;</span></button>
    </div>

  </div>


</section>