:host {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // padding: 1rem 2rem;
  padding: clamp(0.50rem, 2vw, 2rem);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 3.5rem;
  height: clamp(2.5rem, 4vw, 3.5rem);
  width: 100%;
  font-weight: bold;
  margin-bottom: 1rem;

  span {
    margin-left: 0.25rem;

    svg {
      height: 20px;
      aspect-ratio: 1/1;
    }
  }
}

.contact-list {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}

.contact-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  .head-line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
  }

  .underline {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-light-grey);
    margin: 0.25rem 0;
  }
}

.single-contact {
  display: flex;
  padding: 1rem 1rem;
  padding: clamp(0.5rem, 1.5vw, 1rem);
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;

  &:hover {
    background: #f9f9f9;
    background: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-font-bright);
  border-radius: 50%;
  // width: 2.5rem;
  width: clamp(2rem, 3vw, 2.5rem);
  height: clamp(2.5rem, 3vw, 2.5rem);
  // height: 2.5rem;
  margin-right: 1rem;
}

.data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;

  a {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.email {
  pointer-events: none;
  color: var(--color-light-blue);
}

.contactActive {
  color: var(--color-font-bright);
  background: var(--color-medium-blue);

  .icon {
    border: 2px solid var(--color-font-bright);
  }

  &:hover {
    color: var(--color-font-bright);
    background: var(--color-medium-blue);
  }
}
