<nav class=""nav>

    <a routerLink="/" class="nav__logo">
    <img src="assets/icons/logo-light.svg" alt="Join Logo" />
  </a>

  <div class="nav__menu">
    @for (item of menuItems; track item.route) {
      <a 
        [routerLink]="item.route" 
        routerLinkActive="active"
        class="nav__link"
      >
        <img [src]="'assets/icons/' + item.icon + '.svg'" [alt]="item.label" />
        <span>{{ item.label }}</span>
      </a>
    }
  </div>

  <div class="nav__footer">
    @for (link of footerLinks; track link.route) {
      <a 
        [routerLink]="link.route" 
        routerLinkActive="active"
        class="nav__footer-link"
      >
        {{ link.label }}
      </a>
    }
  </div>

</nav>