main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100svh;
  height: 100vh;
  max-width: 1440px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.contacts-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

app-header {
  height: 96px;
  width: 100%;
}

app-nav {
  width: 232px;
  height: 100%;
}

app-contacts-list {
  max-width: 464px;
  height: 100%;
}

app-contact-details {
  height: 100%;
  width: 100%;
}
