main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100svh;
  height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.contacts-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

app-header {
  height: 96px;
  width: 100%;
   flex-shrink: 0;
}

app-nav {
  width: 232px;
  height: 100%;
  flex-shrink: 0;
}

app-contacts-list {
  width: 456px;
  height: 100%;
  flex-shrink: 0;
}

app-contact-details {
  height: 100%;
  width: 100%;
  flex: 1;
}

@media (max-width: 1200px) {
  app-nav {
    width: clamp(180px, 20vw, 232px);
  }

  app-contacts-list {
    width: clamp(300px, 35vw, 456px);
  }

  app-contact-details {
    min-width: 350px;
  }
}


@media (max-width: 850px) {
  .contacts-wrapper {
    position: relative;
  }

 

}

@media (max-width: 767px) {
  app-nav {
    width: 0;
    display: none;
  }

  app-contacts-list {
    width: 100%;
  }

  app-contact-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:not(:has(.contact-details__content)) {
      display: none;
    }
  }
}