:host {
  display: flex;
  width: 100%;
  // height: 100svh;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
}

app-header {
  height: 96px;
  flex-shrink: 0;
}

app-nav {
  width: 232px;
  height: 100%;
  flex-shrink: 0;
}

app-contacts-list {
  width: 456px;
  height: 100%;
  flex-shrink: 0;
}

app-contact-details {
  height: 100%;
  width: 100%;
  flex: 1;
}

@media (max-width: 1024px) {
  .contacts-wrapper {
    position: relative;
  }

  app-contacts-list {
    width: 100%;
    flex: 1;
  }

  app-contact-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    &:not(:has(.contact-details__content)) {
      display: none;
    }
  }
}


@media (max-width: 768px) {
  :host {
    flex-direction: column;  // ← Dikey düzen
  }
  app-nav {
    width: 100%;
    height: 80px;
    order: 2;
  }
.wrapper {
    order: 1;
    padding-bottom: 80px;
  }

  app-contacts-list {
    width: 100%;
  }
}

