:host {
  display: flex;
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

app-header {
  height: 96px;
  flex-shrink: 0;
}

app-nav {
  width: 232px;
  height: 100%;
  flex-shrink: 0;
}

app-contacts-list {
  width: 456px;
  height: 100%;
  flex-shrink: 0;
}

app-contact-details {
  height: 100%;
  width: 100%;
  flex: 1;

   &:not(:has(.contact-details__content)) {
      z-index: 0;
      pointer-events: none;
    }
}

@media (max-width: 1024px) {

  app-contacts-list {
    width: 100%;
    flex: 1;
    position: relative;
    z-index: 1;
  }

  app-contact-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    &:not(:has(.contact-details__content)) {
      display: none;
    }
  }
}


@media (max-width: 768px) {

  :host {
    flex-direction: column;
  }
  app-nav {
    width: 100%;
    height: 80px;
    order: 2;
  }

  app-contacts-list {
    width: 100%;
    position: relative;
  }
  app-contact-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #f0f4f3;
    
    &:not(:has(.contact-details__content)) {
      display: none;
    }
  }
}

