:host {
  display: flex;
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: #F6F7F8;
}

app-header {
  height: 96px;
  flex-shrink: 0;
}

app-nav {
  width: 232px;
  height: 100%;
  flex-shrink: 0;
}

// From here my scss code

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  padding: 64px 32px 64px 128px;
}

h1 {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: 0%;
}

.required {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #FF8190;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 440px;
  height: 376px;
  gap: 32px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  position: relative;

  input:focus,
  textarea:focus {
    border-color: var(--color-light-blue);
    outline: none;
  }
}

textarea {
  width: 440px;
  height: 136px;
}

input,
textarea {
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  padding: 10px;

  width: 440px;

  &::placeholder {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

.invalid {
  border-color: #ff3d00 !important;
}

.error-message {
  color: #ff3d00;
  font-size: 13px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.line {
  width: 1px;
  height: 424px;
  background-color: #D1D1D1;
  align-self: center;
}

.task-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 64px 64px 64px 32px;
}

.priority-title {
  margin-bottom: 8px;
  margin-top: 64px;
}

.priority-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.priorty-level-btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 136px;
  height: 56px;
  padding: 10px;

  background-color: #fff;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  color: #000;
  transition: var(--transition-fast);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
  }

  &.active {
    color: #fff;
    font-weight: 700;
  }

  &.btn-urgent.active {
    background-color: #FF3D00;
    border-color: #FF3D00;
  }

  &.btn-medium.active {
    background-color: #FFA800;
    border-color: #FFA800;
  }

  &.btn-low.active {
    background-color: #7AE229;
    border-color: #7AE229;
  }
}


.btn-txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.icons {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.urgent {
  background-image: url("/assets/icons/urgent.svg");
  filter: brightness(0) saturate(100%) invert(22%) sepia(97%) saturate(3744%) hue-rotate(0deg) brightness(1.1);
}

.medium {
  background-image: url("/assets/icons/medium.svg");
  filter: brightness(0) saturate(100%) invert(66%) sepia(95%) saturate(500%) hue-rotate(0deg);
}

.low {
  background-image: url("/assets/icons/low.svg");
  filter: brightness(0) saturate(100%) invert(76%) sepia(75%) saturate(500%) hue-rotate(40deg);
}

// Active state for all icons
.active {
  .icons,
  .urgent,
  .medium,
  .low {
    filter: brightness(0) invert(1);
  }
}
.assigned-to-title {
  margin-top: 32px;
}

.assign-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.assign {
  position: relative;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  padding: 10px;
  width: 440px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  z-index: 1;
}

.assign:focus-within {
  border-color: var(--color-light-blue);
}

.assign-selected {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.categories-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(209, 209, 209, 0.3);
  }

  &::before {
    content: '';
    width: 7.21px;
    height: 4.6px;
    background-image: url("/assets/icons/categories_arrow_drop_down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
  }
}

.assign-options {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.assign-option {
  padding: 10px;
  border-radius: 10px;
}

.assign-option:hover {
  background-color: var(--color-light-grey);
}

.category-title {
  margin-top: 32px;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.category-dropdown {
  position: relative;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  padding: 10px;
  width: 440px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.category-dropdown:focus-within {
  border-color: var(--color-light-blue);
}

.category-selected {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.category-options {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.category-option {
  padding: 10px;
  border-radius: 10px;
}

.category-option:hover {
  background-color: var(--color-light-grey);
}

.required {
  color: #ff3d00;
  margin-left: 2px;
}

.subtask-title {
  margin-top: 32px;
}

.create-clear-btns-container {
  display: flex;
  align-self: flex-end;
  height: 56px;
  gap: 16px;
}

.btn-txt {
  text-align: center;
}

.btn-outline:hover {
  border: 1px solid var(--color-light-blue);
  transition: var(--transition-fast);
}

.btn-primary:hover {
  transition: var(--transition-fast);
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    padding-right: 50px;
    height: 40px;
    box-sizing: border-box;

    &:focus+.input-icons {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .input-icons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    opacity: 0;
    pointer-events: none;

    .icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(209, 209, 209, 0.3);
      }
    }
  }

  .input-line {
    height: 24px;
    width: 1px;
    background-color: #D1D1D1;
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
  }

  app-nav {
    width: 100%;
    height: 80px;
    order: 2;
  }
}