@font-face {
  font-family: 'Inter';
  src: url(../public/assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url(../public/assets/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
  font-style: italic;
}

// Beispiel für Media Queries:
// @media (max-width: var(--breakpoint-xs)) { ... }
// @media (max-width: var(--breakpoint-sm)) { ... }
// @media (max-width: var(--breakpoint-md)) { ... }
// @media (max-width: var(--breakpoint-lg)) { ... }
// @media (max-width: var(--breakpoint-xl)) { ... }
// @media (max-width: var(--breakpoint-xll)) { ... }

:root {
  /* Fonts */
  --color-font-bright: #fff;
  --color-font-dark: #000;

  /* Basis Color */
  --color-dark-blue: #091931;
  --color-medium-blue: #2a3647;
  --color-light-blue: #29abe2;
  --color-light-grey: #d1d1d1;
  --color-error: #e60026;
  --color-nav-hover: #344866;

  --bg-icon-1: #ff7a00;
  --bg-icon-2: #ff5eb3;
  --bg-icon-3: #6e52ff;
  --bg-icon-4: #9327ff;
  --bg-icon-5: #00bee8;
  --bg-icon-6: #1fd7c1;
  --bg-icon-7: #ff745e;
  --bg-icon-8: #ffa35e;
  --bg-icon-9: #fc71ff;
  --bg-icon-10: #ffc701;
  --bg-icon-11: #0038ff;
  --bg-icon-12: #c3ff2b;
  --bg-icon-13: #ffe62b;
  --bg-icon-14: #ff4646;
  --bg-icon-15: #ffbb2b;

  /* Breakpoint */
  --breakpoint-xs: 0px; // Extra Small (Mobile)
  --breakpoint-sm: 576px; // Small (Portrait Tablets)
  --breakpoint-md: 768px; // Medium (Landscape Tablets)
  --breakpoint-lg: 992px; // Large (Desktops)
  --breakpoint-xl: 1200px; // Extra Large (Large Desktops)
  --breakpoint-xxl: 1400px; // Extra Extra Large

  /* Breakpoint */
  --transition-fast: all 125ms ease-in-out;
  --transition-slow: all 250ms ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem); // 32px - 64px
}

h2 {
  font-size: clamp(1.75rem, 4vw, 3.5rem); // 28px - 56px
}

h3 {
  font-size: clamp(1.5rem, 3.5vw, 3rem); // 24px - 48px
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.5rem); // 20px - 24px
}

p {
  font-size: clamp(1rem, 1.5vw, 1.25rem); // 16px - 20px
  line-height: 1.4;
}

a {
  display: inline-block;
  font-size: 1rem; //16px
  text-decoration: none;
  color: var(--color-font-dark);
  transition: var(--transition-fast);

  &:hover {
    color: var(--color-light-blue);
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

/* Content Begrenzung für Seiten ohne Nav/Header */
.content-container {
  max-width: 1440px;
  width: 100%;
}

.btn-primary {
  background: var(--color-medium-blue);
  color: var(--color-font-bright);
  border: 1px solid var(--color-medium-blue);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  transition: var(--transition-fast);

  &:hover {
    color: var(--color-font-bright);
    background: var(--color-light-blue);
    border-color: var(--color-light-blue);
  }

  &:active {
    background: var(--color-dark-blue);
    border-color: var(--color-dark-blue);
  }
}

.btn-outline {
  background-color: #fff;
  color: var(--color-medium-blue);
  border: 1px solid var(--color-medium-blue);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  transition: var(--transition-fast);

  &:hover {
    border: 2px solid var(--color-light-blue);
    color: var(--color-light-blue);
  }

  &:active {
    border-color: var(--color-dark-blue);
    color: var(--color-dark-blue);
  }
}

.icon-1 {
  background-color: var(--bg-icon-1);
  border: 2px solid var(--bg-icon-1);
}

.icon-2 {
  background-color: var(--bg-icon-2);
  border: 2px solid var(--bg-icon-2);
}

.icon-3 {
  background-color: var(--bg-icon-3);
  border: 2px solid var(--bg-icon-3);
}

.icon-4 {
  background-color: var(--bg-icon-4);
  border: 2px solid var(--bg-icon-4);
}

.icon-5 {
  background-color: var(--bg-icon-5);
  border: 2px solid var(--bg-icon-5);
}

.icon-6 {
  background-color: var(--bg-icon-6);
  border: 2px solid var(--bg-icon-6);
}

.icon-7 {
  background-color: var(--bg-icon-7);
  border: 2px solid var(--bg-icon-7);
}

.icon-8 {
  background-color: var(--bg-icon-8);
  border: 2px solid var(--bg-icon-8);
}

.icon-9 {
  background-color: var(--bg-icon-9);
  border: 2px solid var(--bg-icon-9);
}

.icon-10 {
  background-color: var(--bg-icon-10);
  border: 2px solid var(--bg-icon-10);
}

.icon-11 {
  background-color: var(--bg-icon-11);
  border: 2px solid var(--bg-icon-11);
}

.icon-12 {
  background-color: var(--bg-icon-12);
  border: 2px solid var(--bg-icon-12);
}

.icon-13 {
  background-color: var(--bg-icon-13);
  border: 2px solid var(--bg-icon-13);
}

.icon-14 {
  background-color: var(--bg-icon-14);
  border: 2px solid var(--bg-icon-14);
}

.icon-15 {
  background-color: var(--bg-icon-15);
  border: 2px solid var(--bg-icon-15);
}
